<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/bootstrap.css"/>
<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<script type="text/javascript" src="../static/js/wangEditor.js"></script>
<meta charset="UTF-8">
<div class="container col-6">
    <div class="form-group ">
        <label>标题</label>
        <input id="title" class="form-control" placeholder="请输入标题.....">
        <input id="userId" th:value="${userId}" class="d-none">
    </div>
    <div class="form-inline">
        <input class="form-control" id="input1" placeholder="请添加标签.....">

        <button class="btn btn-primary ml-2 btn-sm" onclick="addTags()">添加标签</button>
    </div>
    <div class="form-group" id="tags">
    </div>
    <label>正文</label>
    <div id="editor"></div>
    <button class="mt-2 btn btn-outline-primary float-right" onclick="f1()">提交</button>
</div>
</html>
<!--创建富文本编辑器-->
<script>
    var E = window.wangEditor;
    var editor = new E('#editor');
    editor.create();
</script>
<script>
    //定义标签集合
    var tags = new Array();

    //关闭标签
    function closeTag(e) {
        var value = $(e).children("span");
        tags.pop(value);
        e.remove();
    }

    //添加标签
    function addTags() {
        var value = $("#input1").val()
        if (value != "") {
            $("#tags").append(" <button onclick=\"closeTag(this)\"  type=\"button\" class=\"badge rounded btn btn-primary\">\n" +
                "            <span>" + value + "</span>&times;\n" +
                "        </button>")
            tags.push(value);
        }
    }

    //提交表单
    function f1() {
        var userId = $("#userId").val()
        var title = $("#title").val()
        var content = editor.txt.html()
        $.ajax({
            url: "http://127.0.0.1:8082/api/question/ask",
            type: "post",
            data: {
                title: title,
                content: content,
                userId: userId,
                tags: tags,
            },
            success: function (e) {
                alert("提问成功")
                window.location.href = "http://127.0.0.1:8080/question/" + e
            }
        })
    }
</script>