<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/bootstrap.css"/>
<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<meta charset="UTF-8">
<title>个人主页</title>
<style>
    .mohu {
        filter: blur(4px);
    }

    .cursor-pointer {
        cursor: pointer;
    }

    #box {
        position: relative;
    }
</style>
<input id="holder" th:value="${holder.userId}" class="d-none ">
<div class="container-fluid offset-2 col-8 mt-3">
    <!--更换头像-->
    <div class=" offset-3 col-8">
        <img id="img" class="d-inline rounded-circle col-3"
             src="../static/img/head/default.jpg"
             th:src="@{${holder.headUrl}}">
        <div class="col-3 text-center invisible" id="box">
            <img src="../static/img/icon/相机.svg" width="20" height="20">
            <p id="text">更改头像</p>
        </div>
        <input type="file" id="upload" class="d-none"/>
    </div>
    <!--更换昵称-->
    <div class="row  offset-3 col-8">
        <span class="navbar-text col-2">昵称：</span>
        <input type="text" class=" form-control col-5" id="input1" th:value="${holder.userName}" maxlength="8">
    </div>
    <small class="text-danger offset-4 " id="hint1"></small>
    <hr>
    <!--更换邮箱-->
    <div class="row  offset-3 col-8">
        <span class="navbar-text col-2">邮箱：</span>
        <input type="email" class="form-control col-5" id="input2" th:value="${holder.mailbox}">
    </div>
    <small class="text-danger offset-4 " id="hint2"></small>
    <hr>
    <!--更换密码-->
    <div class="row  offset-3 col-8">
        <span class="navbar-text col-2">旧密码：</span>
        <input type="password" class="form-control col-5" id="input3">
    </div>
    <small class="text-danger offset-4 " id="hint3"></small>
    <div class="row  offset-3 col-8 mt-3">
        <span class="navbar-text col-2">新密码：</span>
        <input type="password" class="form-control col-5" id="input4">
    </div>
    <small class="text-danger offset-4 " id="hint4"></small>
    <div class="offset-4 mt-2 col-4 ">
        <button class=" btn btn-primary btn-block" id="btn1" onclick="confirm()">确定</button>
    </div>
    <hr>
</div>
</html>
<script>
    //初始化
    $(function () {
        //头像特效
        $("#img").attr('height', $("#img").prop('width'));
        $("#box").css('bottom', $("#img").prop('width') * 0.7);
        $("#img,#box").hover(function () {
            $("#box").addClass("cursor-pointer").removeClass("invisible")
            $("#box").children().addClass("cursor-pointer")
            $("#img").addClass("mohu cursor-pointer")

        }, function () {
            $("#box").removeClass("cursor-pointer").addClass("invisible")
            $("#box").children().removeClass("cursor-pointer")
            $("#img").removeClass("mohu cursor-pointer")
        });
        //提示框
        $("#input1").blur(function () {
            if ($("#input1").val() == "")
                $("#hint1").text('昵称不能为空');
        })
        $("#input1").focus(function () {
            $("#hint1").text('');
        })
        $("#input2").blur(function () {
            if ($("#input2").val() == "")
                $("#hint2").text('邮箱不能为空');
        })
        $("#input2").focus(function () {
            $("#hint2").text('');
        })
        $("#input3").blur(function () {
            if ($("#input3").val() == "")
                $("#hint3").text('旧密码不能为空');
        })
        $("#input3").focus(function () {
            $("#hint3").text('');
        })
        $("#input4").blur(function () {
            if ($("#input4").val() == "")
                $("#hint4").text('新密码不能为空');
        })
        $("#input4").focus(function () {
            $("#hint4").text('');
        })

    })

    //上传头像
    $("#img,#box").click(function () {
        $("#upload").click();
        $("#upload").on("change", function () {
            var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
            console.log(objUrl)
            if (objUrl) {
                uploadimg(objUrl);
            }
        });
    })

    //  获取头像文件
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

    //上传头像到服务器
    function uploadimg(objUrl) {
        var pic = $('#upload')[0].files[0];
        var data = new FormData();
        var userId = $("#holder").val();
        data.append('image', pic);
        data.append("userId", userId);
        console.log(pic)
        $.ajax({
            url: "http://127.0.0.1:8080/img/upload",
            cache: false,
            type: "post",
            data: data,
            processData: false,
            contentType: false,
            success: function (e) {
                $("#img").attr('src',e)
            }
        });
    }

    //确定按钮
    function confirm() {
        var userId = $("#holder").val();
        var name = $("#input1").val();
        var mailbox = $("#input2").val();
        var oldpassword = $("#input3").val();
        var newpassword = $("#input4").val();
        $.ajax({
            type: 'post',
            url: "http://127.0.0.1:8081/api/user/edit",
            data: {
                userId: userId,
                name: name,
                mailbox: mailbox,
                oldPassword: oldpassword,
                newPassword: newpassword,
            },
            success: function (e) {
                $("#hint4").text(e);
                window.location.href="http://127.0.0.1:8080";
            }
        });
    }
</script>