<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/bootstrap.css"/>
<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<meta charset="UTF-8">
<title>个人主页</title>
<style>
    .mohu {
        filter: blur(4px);
    }

    .cursor-pointer {
        cursor: pointer;
    }

    #box {
        position: relative;
    }
</style>
<div th:replace="head::head"></div>
<input id="holder" th:val="${holder}" class="d-none ">
<div class="container-fluid offset-2 col-8 mt-3">
    <!--更换头像-->
    <div class=" offset-3 col-8">
        <img id="img" class="d-inline rounded-circle col-3"
             src="../static/img/head/default.jpg"
             th:src="@{${holder.headUrl}}">
        <div class="col-3 text-center invisible" id="box">
            <img src="../static/img/icon/相机.svg" width="20" height="20">
            <p id="text">更改头像</p>
        </div>
        <input type="file" id="upload" class="d-none"/>
    </div>
    <!--更换昵称-->
    <div class="row  offset-3 col-8">
        <span class="navbar-text col-2">昵称：</span>
        <input type="text" class=" form-control col-5" id="input1" th:val="${holder.userName}">
        <button class="btn btn-outline-success rounded ml-1" type="button" id="btn1">确定</button>
    </div>
    <small class="text-danger offset-4" id="hint1"></small>
    <hr>
    <!--更换邮箱-->
    <div class="row  offset-3 col-8">
        <span class="navbar-text col-2">邮箱：</span>
        <input type="text" class="form-control col-5" id="input2" th:val="${holder.mailbox}">
        <button class="btn btn-outline-success rounded ml-1" type="button" id="btn2">确定</button>
    </div>
    <small class="text-danger offset-4" id="hint2"></small>
    <hr>
    <!--更换密码-->
    <div class="row  offset-3 col-8">
        <span class="navbar-text col-2">旧密码：</span>
        <input type="text" class="form-control col-5" id="input3">
    </div>
    <div class="row  offset-3 col-8 mt-3">
        <span class="navbar-text col-2">新密码：</span>
        <input type="text" class="form-control col-5" id="input4">
    </div>
    <small class="text-danger offset-4 " id="hint3"></small>
    <div class="offset-4 mt-2 col-4 ">
        <button class=" btn btn-primary btn-block" id="btn3">确定</button>
    </div>
    <hr>
</div>
</html>
<script>
    $("#img").attr('height', $("#img").prop('width'));
    $("#box").css('bottom', $("#img").prop('width') * 0.7)
    $("#img,#box").hover(function () {
        $("#box").addClass("cursor-pointer").removeClass("invisible")
        $("#box").children().addClass("cursor-pointer")
        $("#img").addClass("mohu cursor-pointer")

    }, function () {
        $("#box").removeClass("cursor-pointer").addClass("invisible")
        $("#box").children().removeClass("cursor-pointer")
        $("#img").removeClass("mohu cursor-pointer")
    })
    //上传头像
    $("#img,#box").click(function () {
        $("#upload").click()
        $("#upload").on("change", function () {
            var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
            console.log(objUrl)
            if (objUrl) {
                $("#img").attr("src", objUrl); //将图片路径存入src中，显示出图片
                uploadimg();
            }
        });
    })

    //  获取头像文件并预览
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }

    //上传头像到服务器
    function uploadimg() {
        var pic = $('#upload')[0].files[0];
        var file = new FormData();
        file.append('image', pic);
        $.ajax({
            url: "http://127.0.0.1:8080/img/upload",
            type: "post",
            data: file,
            cache: false,
            contentType: false,
            processData: false,
            error: function () {
                console.log("上传失败")
            }
        });
    }

    //确定按钮
    function confirm(e) {
        //更改昵称
        if ($(e).prop('id') == 'btn1') {
            var name = $("#input1").val();
            $.ajax({
                url: "http://127.0.0.1:8081/api/user/username/",
                type: "get",
                data: {},
                success: function () {

                }
            })

        }
        //更改邮箱
        if ($(e).prop('id') == 'btn2') {

        }
        //更改密码
        if ($(e).prop('id') == 'btn3') {

        }

    }


</script>