<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/bootstrap.css"/>
<script src="../static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<style>
    body {
        background-color: #f7f7f7;
    }

    a {
        background-color: #17A2B8;
        color: whitesmoke;
    }

    a:hover {
        background-color: #138496;
        color: whitesmoke;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<input class="d-none" th:value="${next}" id="next">
<div class="container col-7">
    <div class="border-bottom border-success mt-5">
        <!--登录注册切换-->
        <div class="form-group">
            <div class="btn-group col-8 offset-2">
                <a class="btn btn-default col-6 text-white" onclick="change(this)">登录</a>
                <a class="btn btn-default col-6 text-white" onclick="change(this)">注册</a>
            </div>
        </div>
        <!--账号-->
        <div class="form-group">
            <div class="col-4 offset-4">
                <label>账号</label>
                <input type="text" class="form-control" id="account" name="account" placeholder="请输入账号">
                <small class="form-text  text-danger"></small>
            </div>
        </div>
        <!--密码-->
        <div class="form-group">
            <div class="col-4 offset-4">
                <label>密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                <small class="form-text  text-danger"></small>
            </div>
        </div>
        <!--注册额外信息-->
        <div id="regdiv" class="d-none">
            <!--邮箱-->
            <div class="form-group">
                <div class="col-4 offset-4">
                    <label>邮箱</label>
                    <input type="email" class="form-control" id="mailbox" name="mailbox" placeholder="请输入邮箱">
                    <small class="form-text  text-danger"></small>
                </div>
            </div>
            <!--验证码-->
            <div class="form-group">
                <label class="col-8 offset-4">验证码</label>
                <div class="form-inline col-5 offset-4">
                    <input type="text" class="form-control col-8" id="activeCode" name="activeCode"
                           placeholder="请输入验证码">
                    <button class="btn btn-primary ml-1 btn-sm" id="btn2" onclick="sendActiveCode(this)">发送
                    </button>
                </div>
                <small class="form-text  text-danger col-4 offset-4" id="hint4"></small>
            </div>
        </div>
    </div>
    <!--登录注册按钮-->
    <div class="form-group mt-2">
        <div class="col-4 offset-4">
            <button type="button" class="btn btn-sm btn-primary btn-block" id="btn1" onclick="submit(this)">登录
            </button>
        </div>
    </div>
</div>
</html>
<script>
    //输入校验
    $("#account").blur(function () {
        if ($("#btn1").text() == '注册') {
            if ($("#account").val() == '')
                $("#account").next().text('账号不能为空');
            else {
                $.ajax({
                    url: "http://127.0.0.1:8081/api/user/account/" + $("#account").val(),
                    type: "get",
                    success: function (e) {
                        console.log(typeof e)
                        if (e != "") {
                            $("#account").next().text('账号已被注册，请重新输入');
                        } else {
                            $("#account").next().text('账号可用');
                        }
                    }
                })
            }
        } else {
            if ($("#account").val() == '')
                $("#account").next().text('账号不能为空');
            else {
                $.ajax({
                    url: "http://127.0.0.1:8081/api/user/account/" + $("#account").val(),
                    type: "get",
                    success: function (e) {
                        if (e == "") {
                            $("#account").next().text('账号不存在');
                        }
                    },
                });
            }
        }
    }).focus(function () {
        $("#account").next().text('');
    });
    $("#password").blur(function () {
        if ($("#btn1").text() == '注册') {
            if ($("#password").val() == '')
                $("#password").next().text('密码不能为空');
            else {
                $("#password").next().text('');
            }
        } else {
            if ($("#password").val() == '')
                $("#password").next().text('密码不能为空');
            else {
                $("#password").next().text('');
            }
        }
    }).focus(function () {
        $("#password").next().text('');
    });
    $("#mailbox").blur(function () {
        if ($("#mailbox").val() == '')
            $("#mailbox").next().text('邮箱不能为空');
        else {
            var patt = /^[a-zA-Z0-9]+\@[a-zA-Z0-9]+\.(\w)+/
            if (!patt.test($("#mailbox").val()))
                $("#mailbox").next().text('邮箱格式不正确');
            else
                $("#mailbox").next().text('');
        }
    }).focus(function () {
        $("#mailbox").next().text('');
    });
    $("#activeCode").blur(function () {
        if ($("#activeCode").val() == '')
            $("#hint4").text('验证码不能为空');
        else {
            $("#hint4").text('');
        }
    }).focus(function () {
        $("#hint4").text('');
    });

    //发送验证码
    function sendActiveCode(e) {
        var account = $("#account").val();
        var mailbox = $("#mailbox").val();
        $.ajax({
            url: "http://127.0.0.1:8081/api/user/active-code",
            type: "post",
            data: {
                account: account,
                mailbox: mailbox,
            },
            success: function () {
                $("#hint4").text('验证码已发送，请到邮箱查收...');
                $(e).addClass('disabled');
                $(e).prop('disabled', true)
                var time = 60;
                var x = setInterval(function () {
                    if (time == 0) {
                        $(e).removeClass('disabled');
                        $(e).attr('disabled', false)
                        $(e).text('发送');
                        clearInterval(x);
                    } else {
                        $(e).text(time + '秒后可发送');
                        time--;
                    }
                }, 1000);
            }
        })
    }

    //样式改变
    function change(e) {
        $('small').text('');
        if ($(e).text() == "登录") {
            $("#regdiv").addClass("d-none");
            $("#btn1").text('登录');
        } else {
            $("#regdiv").removeClass("d-none");
            $("#btn1").text('注册');
        }
    }


    //提交数据
    function submit(e) {
        var account = $("#account").val();
        var password = $("#password").val();
        var mailbox = $("#mailbox").val();
        var activeCode = $("#activeCode").val();
        var next = $("#next").val();
        var msg = $(e).text()
        //登录
        if ($.trim(msg) == "登录") {
            $.ajax({
                type: "post",
                url: "http://127.0.0.1:8080/login",
                data: {
                    account: account,
                    password: password,
                },
                success: function () {
                    window.location.href = "http://127.0.0.1:8080" + next;
                }
            })
        }
        //注册
        else {
            $.ajax({
                type: "post",
                url: "http://127.0.0.1:8080/registry",
                data: {
                    account: account,
                    password: password,
                    mailbox: mailbox,
                    activeCode: activeCode,
                },
                success: function (e) {
                    window.location.href = "http://127.0.0.1:8080" + next
                }
            })
        }
    }

</script>