<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../static/css/bootstrap.css"/>
<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<style>
    html, body {
        background-color: #d4edda;
    }

</style>
<head>
    <meta charset="UTF-8">
    <title>奇趣</title>
</head>
<body>
<div th:replace="head::head"></div>
<div class="container col-7 mt-2">
    <!--个人信息-->
    <div class="row mt-2 bg-white rounded ">
        <div class="col-2  d-flex">
            <img src="../static/img/head/default.jpg" class="rounded" width="120" height="120">
        </div>
        <div class="col-5 d-flex align-items-center">
            <p>昵称</p>
        </div>
        <div class="offset-1 col-3 d-flex align-items-end p-2">
            <button class="btn btn-outline-primary m-1 btn-sm">私信</button>
            <button class="btn btn-outline-primary m-1 btn-sm">关注</button>
        </div>
    </div>
    <!--个人回答等-->
    <div class=" mt-4 row ">
        <!--数据展示-->
        <div class=" col-7  rounded bg-white">
            <div class="row  border-bottom">
                <nav class="nav ">
                    <a class="nav-link active" href="#">回答</a>
                    <a class="nav-link" href="#">提问</a>
                    <a class="nav-link" href="#">关注的问题</a>
                    <a class="nav-link" href="#">关注的人</a>
                    <a class="nav-link" href="#">随机问题</a>
                </nav>
            </div>
            <div class="row ">

            </div>
        </div>
        <!--个人成就-->
        <div class="rounded col-4  offset-1 bg-white">
            <p class="bg-white text-center p-3 border-bottom">个人成就</p>
            <p>问题被浏览了666次</p>
            <p>问题被浏览了666次</p>
        </div>
    </div>
</div>
</body>
</html>